;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:app {:target :node-script
        :main erd-parser/main
        :output-to "out/parser.js"}
  }
 }
